<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= data.title %> の詳細</title>
</head>
<body>
    <h2><%= data.title %> の詳細情報</h2>
    <ul>
        <li>ID: <%= data.id %></li>
        <li>タイトル: <%= data.title %></li>
        <li>著者: <%= data.author %></li>
        <li>探偵役: <%= data.detective %></li>
        <li>感想: <%= data.comment %></li>
    </ul>
    
    <p>
        <a href="/novels/edit/<%= id %>">編集する</a>
        | 
        <a href="/novels/delete/<%= id %>" onclick="return confirm('本当に削除しますか？');">削除する</a>
    </p>

    <p><a href="/novels">一覧に戻る</a></p>
</body>
</html>