<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>編集</title>
</head>
<body>
    <h2><%= data.title %> の編集</h2>
    <form action="/novels/update/<%= id %>" method="POST">
        <div>
            <label>タイトル: <input type="text" name="title" value="<%= data.title %>" required></label>
        </div>
        <div>
            <label>著　者: <input type="text" name="author" value="<%= data.author %>" required></label>
        </div>
        <div>
            <label>探偵役: <input type="text" name="detective" value="<%= data.detective %>"></label>
        </div>
        <div>
            <label>感　想: <textarea name="comment"><%= data.comment %></textarea></label>
        </div>
        <br>
        <input type="submit" value="更新する">
    </form>
    <p><a href="/novels">一覧に戻る</a></p>
</body>
</html>